<!DOCTYPE html>
<html>
	<head>
		<title>Media Store</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="jumbotron">
			<h1>
				<span th:text="'Message: ' + ${message}"></span>
			</h1>
			<form action="/products" method="GET">
				<button type="submit" class="btn btn-danger">Accesează magazinul</button>
			</form>
		</div>
	</body>
</html>
